:root {
    --tc-timeline-title-height: 40px;
    --tc-timeline-header-height: 40px;
    --tc-timeline-canvas-height: 40px;
    --tc-timeline-canvas-content-height: 50px;

    --tc-list-width: 200px;

    --tc-scroll-width: 15px;
    --tc-scroll-height: 15px;

    --tc-cell-width: 200px;
    --tc-cell-height: 40px;
    --tc-cell-content-height: 30px;

    --tc-line-color: #999999;
}

.tc-root {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    user-select: none;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.tc-left-panel {
    width: var(--tc-list-width);
    height: calc(100% - var(--tc-scroll-height));
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: var(--tc-line-color);
}

.tc-maintitle {
    height: var(--tc-timeline-title-height);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--tc-line-color);
    padding: 0px 8px;
    line-height: calc(var(--tc-timeline-title-height));
}

.tc-subtitle {
    height: calc(var(--tc-timeline-header-height) + var(--tc-timeline-canvas-height));
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--tc-line-color);
    padding: 0px 8px;
    line-height: calc(var(--tc-timeline-header-height) + var(--tc-timeline-canvas-height));
}

.tc-entity-list-box {
    overflow: hidden;
    height: calc(100% - var(--tc-timeline-title-height) - var(--tc-timeline-header-height) - var(--tc-timeline-canvas-height) - var(--tc-scroll-height));
}

.tc-entity-list-item {
    height: calc(var(--tc-cell-height));
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--tc-line-color);
    padding: 0px 8px;
}
.tc-entity-list-item:last-child {
    border-bottom: none;
}

.tc-entity-list-item:nth-child(odd) {
    background-color: #dddddd;
}

.tc-main-panel {
    flex: 1;
    width: 100px;
    height: 100%;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: var(--tc-line-color);
}

.tc-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.tc-timeline {
    height: calc(var(--tc-timeline-title-height) + var(--tc-timeline-header-height) + var(--tc-timeline-canvas-height));
}

.tc-timeline-title {
    height: var(--tc-timeline-title-height);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--tc-line-color);
    text-align: center;
    line-height: var(--tc-timeline-title-height);
}

.tc-timeline-header-box {
    overflow: hidden;
}

.tc-timeline-header {
    height: var(--tc-timeline-header-height);
    display: flex;
    flex-direction: row;
    line-height: var(--tc-timeline-header-height);
}

.tc-timeline-header-item {
    border-width: 0px 0px 1px 1px;
    width: var(--tc-cell-width);
    border-style: solid;
    border-color: var(--tc-line-color);
    flex-direction: row;
}

.tc-timeline-header-item:first-child{
    border-left: none;
}

.tc-timeline-canvas-box {
    overflow: hidden;
}

.tc-timeline-canvas {
    height: var(--tc-timeline-canvas-height);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--tc-line-color);

    position: relative;
}

.tc-timeline-canvas-item {
    position: absolute;
    width: var(--tc-timeline-canvas-content-height);
    height: var(--tc-timeline-canvas-content-height);
}

.tc-main-canvas-box {
    overflow: scroll;
    width: 100%;
    height: calc(100% - var(--tc-timeline-title-height) - var(--tc-timeline-header-height) - var(--tc-timeline-canvas-height));
}

.tc-main-canvas {
    height: 100%;
    position: relative;
    z-index: 0;
}

.tc-main-canvas-item {
    position: absolute;
    height: var(--tc-cell-content-height);
    width: var(--tc-cell-content-height);
}

.tc-hline {
    position: absolute;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: var(--tc-line-color);
}

.tc-vline {
    position: absolute;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: var(--tc-line-color);
}

.tc-main-canvas-box::-webkit-scrollbar {
    width: var(--tc-scroll-width);
    height: var(--tc-scroll-height);
}

.tc-main-canvas-box::-webkit-scrollbar-thumb {
    background-color: #999999;
}

.tc-main-canvas-box::-webkit-scrollbar-track {
    background-color: #cccccc;
}