html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #000000;

    >* {
        box-sizing: border-box;
    }
}

#container-wrapper {
    width: 100%;
    height: 100%;
}

#container {
    position: relative;
    margin: auto;
    width: 80%;
    height: 100%;
    background-color: #000000;
}

#page-title {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #000000;
    color: white;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0rem 3rem;

    .desc {
        font-size: 1rem;
        font-weight: normal;
    }

}

#poll {
    background-color: #000000;
    color: #8ff;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 10rem 3rem 3rem 3rem;

    @media screen and (max-width: 768px) {
        padding: 3rem 0.5rem;
        ;
        font-size: 1.5rem;
    }
}

#form {
    background-color: #000000;
    width: 100%;
    color: #8ff;
    font-size: 3rem;
    text-align: center;
    padding: 3rem;

    #form-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 0 auto;
    }

    .form-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 1rem;
        width: 100%;
        font-size: 1.5rem;
        text-align: left;
    }

    .form-item-checkbox {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
        flex: 0 0 auto;
    }

    @media screen and (max-width: 768px) {
        padding: 0.5rem;

        #form-items {
            width: 100%;
        }

        .form-item {
            font-size: 1rem;

        }

        .form-item-checkbox {
            width: 1rem;
            height: 1rem;
            margin-right: 0.5rem;
        }
    }
}

a {
    color: #8ff;
}

#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.element {
    width: 120px;
    height: 160px;
    box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
    border: 1px solid rgba(127, 255, 255, 0.25);
    font-family: Helvetica, sans-serif;
    text-align: center;
    line-height: normal;
    cursor: default;
}

.element:hover {
    box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.75);
    border: 1px solid rgba(127, 255, 255, 0.75);
}

.element .number {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 12px;
    color: rgba(127, 255, 255, 0.75);
}

.element .symbol {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    font-size: 60px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element .details {
    position: absolute;
    bottom: 15px;
    left: 0px;
    right: 0px;
    font-size: 12px;
    color: rgba(127, 255, 255, 0.75);
}

button {
    color: rgba(127, 255, 255, 0.75);
    background: transparent;
    outline: 1px solid rgba(127, 255, 255, 0.75);
    border: 0px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 255, 255, 0.5);
}

button:active {
    color: #000000;
    background-color: rgba(0, 255, 255, 0.75);
}